<div>
    <h2 id="page-heading">
        <span jhiTranslate="electoralSystemApp.vote.home.title">Votes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vote" [routerLink]="['/vote/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="electoralSystemApp.vote.home.createLabel">
            Create a new Vote
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="votes?.length === 0">
        <span jhiTranslate="electoralSystemApp.vote.home.notFound">No votes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="votes && votes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="electoralSystemApp.vote.candidateId">Candidate Id</span></th>
                    <th scope="col" ><span jhiTranslate="electoralSystemApp.vote.submissionDate">Submission Date</span></th>
                    <th scope="col" ><span jhiTranslate="electoralSystemApp.vote.election">Election</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vote of votes ;trackBy: trackId">
                    <td><a [routerLink]="['/vote', vote.id, 'view']">{{ vote.id }}</a></td>
                    <td>{{ vote.candidateId }}</td>
                    <td>{{ vote.submissionDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="vote.electionId">
                            <a [routerLink]="['/election', vote.electionId , 'view']" >{{ vote.electionId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/vote', vote.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/vote', vote.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(vote)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
