<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userApp">
            <h2><span jhiTranslate="electoralSystemApp.userApp.detail.title">User App</span> {{ userApp.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="electoralSystemApp.userApp.city">City</span></dt>
                <dd>
                    <span>{{ userApp.city }}</span>
                </dd>
                <dt><span jhiTranslate="electoralSystemApp.userApp.region">Region</span></dt>
                <dd>
                    <span>{{ userApp.region }}</span>
                </dd>
                <dt><span jhiTranslate="electoralSystemApp.userApp.country">Country</span></dt>
                <dd>
                    <span>{{ userApp.country }}</span>
                </dd>
                <dt><span jhiTranslate="electoralSystemApp.userApp.internalUser">Internal User</span></dt>
                <dd>
                    {{ userApp.internalUserId }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/user-app', userApp.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
